In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('DS_find_S_algorithm.csv')

In [3]:
data

     sky  temp humidity    wind isplay
0  sunny  warm     high  strong    yes
1  sunny  warm   normal  strong    yes
2  rainy  cold     high  strong     no
3  sunny  warm     high    less    yes

In [6]:
arrdata=np.array(data)[:4,:4]

In [7]:
arrdata

array([['sunny', 'warm', 'high', 'strong'],
       ['sunny', 'warm', 'normal', 'strong'],
       ['rainy', 'cold', 'high', 'strong'],
       ['sunny', 'warm', 'high', 'less']], dtype=object)

In [8]:
arrdata=np.array(data)[:,:-1]
arrdata

array([['sunny', 'warm', 'high', 'strong'],
       ['sunny', 'warm', 'normal', 'strong'],
       ['rainy', 'cold', 'high', 'strong'],
       ['sunny', 'warm', 'high', 'less']], dtype=object)

In [9]:
isplay=np.array(data)[:,-1]
isplay

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [11]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val=='yes':
            specific_h = con[i].copy()
            break
            
    for i,val in enumerate(con):
        if tar[i]=='yes':
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x] = '?'
                else:
                    pass
    return specific_h
print(train(arrdata,isplay))

['sunny' 'warm' '?' '?']